body {
    padding: 0px 0px 0px 0px;

    background-image: url(../img/brown_leather.jpg); /*Designed by FreePic (www.freepik.com)*/
    background-color: rgb(54, 39, 10);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.wrapper {
    width: 100vw;
    margin: 0px 0px 0px 0px;

}

#contents, #logo, .title_card, #active_tab {
    background-image: url(../img/paper-background.jpg); /*Designed by FreePic (www.freepik.com)*/
    background-color:rgb(237, 243, 219) ;
}

#contents {
    padding: 5px 5px 50px 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*Header*/

header {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    border-bottom: solid rgb(40, 32, 32) 1px;
}

#logo {
    height: 60px;
    margin: 0px 30px 0px 0px;
}

.title_card {
    display: flex;
    align-items: center;
    width: 50vw;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 0px 20px 0px 50px;
}

.header_nav {
    width: 30vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-grow: 1;
}

.nav_tab {
    margin: 0px;
    flex-grow: 1;
    align-self: stretch;
    align-items: stretch;
    text-align: center;
}

a.nav_tab{
    align-self: stretch;
    background-color: rgb(189, 181, 163);
    padding: auto;
    text-decoration: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 5px 5px 0px 5px;
    color: rgb(46, 30, 8);

}

#active_tab {
    background-color:rgb(168, 118, 18); 
    margin: 0px 5px 0px 5px;
}




/*Footer*/

footer{
    color:antiquewhite;
    height: 100px;
}



.page_title {
    font-size: 3em;
    margin: 10px;
}





/*Route Page*/

.route_links {
    display: block;

}

#route_list {
    border-bottom: solid black 1px;
    padding: 20px;
}

#route_list a{
    text-decoration: none;
    font-size: 30px;
    color:black;
    margin: 10px 20px 10px 20px;
}

#route_list a:hover {
    color:rgba(0, 0, 0, 0.3)
}




/*Item Page*/

.item_link {
    display: block;
}

#item_list {
    border-bottom: solid black 1px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

#item_list a{
    text-decoration: none;
    font-size: 30px;
    color:black;
    margin: 10px 20px 10px 20px;
}

#item_list a:hover {
    color:rgba(0, 0, 0, 0.3)
}

#items {
    margin: 10px;
}

.item {
    padding: 5px 30px 5px 20px;
    background-color: white;
}

.item_info {
    display: flex;
    justify-content: space-between;
    border-bottom: dashed 1px rgb(220, 194, 160);
    padding: 10px;
}

.item_img {
    height: 100px;
}

.white_images {
    background-color: rgba(0, 0, 0);
}


/*Boss Page*/

.searchbar{
    height: 30px;
    width: 250px;
    border-style: none;
    border-radius: 10px;
    padding: 0px 40px 0px 10px;
    margin: 20px;
    font-size: 15px;
    letter-spacing: 2px;
    outline: none;
    background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
    background-repeat: no-repeat;
    background-position: right center;
}

.searchbar::placeholder{
    color: rgb(123, 123, 123);
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 100;
}

#boss_section {
    margin: 10px;
    padding: 10px;

    background-color:white;
}

.boss_article{
    padding: 5px;

    border: dashed antiquewhite 1px;
}

.boss_info{
    display: flex;
    justify-content: space-between;
}

.tips{
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px;
    border-radius: 3px;
    width: fit-content;
    padding: 5px 30px 5px 30px;
}

.attacks{
    width: 60vw;
}

.boss_aside {
    margin: 10px;
    width: 30vw;
    height: 500px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border:rgb(168, 118, 18) 5px solid;

    background-color: rgb(247, 232, 215);
}

.boss_img{
    width: 20vw;
    background-color: white;
    border: inset rgb(218, 210, 181) 5px;
    padding: 10px 10px 30px 10px;
}

.boss_version {
    height: 25px;
}

.boss_stats {
    background-color: rgb(255, 255, 255);
    margin: 20px;
    padding: 5px 10px 5px 10px;
    height: auto;
    width: auto;

}

.how_to_defeat {
    display: grid;
    grid-template-areas: 
    'bossinst nailas'
    'vidtut .'
    ;

}

#how_to_defeat_info{

    background-color:rgba(122, 87, 11, 0.3) ;
    border-left:rgba(122, 87, 11, 0.3) 10px solid;
    padding: 10px;
    margin: 10px 50px 10px 30px;
}

.boss_instructions {
    grid-area: bossinst;
    width: 50vw;
}

.video_tutorial {
    grid-area: vidtut;
    width: 50vw;
}



/*Nail hit calculation aside*/
.nail_hit_aside {
    grid-area: nailas;
    height: 300px;
    border: inset rgb(220, 194, 160) 5px;
    background-color: rgb(232, 221, 205);
    padding: 15px;

}

.nail_type {
    display: flex;
}

.nail_img {
    height:60px;
    margin: 0px 20px 0px 20px;
}

.nail_img:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.charms {
    display: flex;
}

.equipped_charms {
    height: 40px;
}

.equipped_charms:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.calculated_hits {
    background-color:whitesmoke;
    padding: 10px;
    border:rgb(234, 233, 233) outset 3px;
}



.wiki_info{
    padding: 10px;

}

.boss_lore{
    margin: 20px;
    padding: 5px 10px 5px 10px;
    border-left: 5px rgb(220, 194, 160) solid;
    background-color: rgba(250, 235, 215, 0.4);
}



